<h1>My Cars</h1>

<%= link_to "Add new Car", new_car_path %>

<table class="table table-bordered">
  <tr>
    <th>Cars</th>
    <th>Action</th>
  </tr>
  <%@cars.each do |car|%>
    <tr>
      <td><%= link_to car.name, car%></td>
      <td><%= link_to "Edit", edit_car_path(car) %>
        <%= button_to "Delete", car_path(car),
      method: :delete, data:{"turbo-confirm": "Are you sure?"} %>
      </td>
    </tr>

  <%end%>
</table>
